# Default owners for everything in the repo
* @MINEGA-McDenver @batesijanet

# Infrastructure code
/terraform/ @batesijanet
/ansible/ @mutesishania

# CI/CD pipelines
/.github/workflows/ @MINEGA-McDenver

# Security configurations
/security/ @liliaemutesi
