# Default owners for everything in the repo
* @MINEGA-McDenver @batesi-janet

# Infrastructure code
/terraform/ @batesi-janet
/ansible/ @mutesi-shania

# CI/CD pipelines
/.github/workflows/ @MINEGA-McDenver

# Security configurations
/security/ @mutesi-liliane
